* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    width: 100%;
}

body {
    margin: 15px 0 38px;
    background: #336688;
}

h1 {
    font-size: 3em;
    margin-bottom: 12px;
}

main {
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(35, 49, 175, 0.1);
    width: 400px;
    border-radius: 10px;
}

ul {
    width: 350px;
    margin: 0 auto 25px;
}

li {
    position: relative;
    display: block;
    list-style: none;
    background-color: #113355;
    margin-bottom: 5px;
    padding: 8px;
    font-size: 1.2em;
    border-radius: 3px;
}

.slett {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 8px;
    font-weight: 100;
    font-size: 1em;
    margin-left: 30px;
    opacity: .4;
}

.slett:hover {
    opacity: 1;
    cursor: pointer;
}

input, .button {
    display: block;
    font-size: 1.2em;
    margin: 0 auto 10px;
    width: 350px;
    padding: 8px;
    border-radius: 5px;
}

.button {
    background-color: #113355;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 13px 0 17px;
    background: #255575;
    width: 100%;
}

footer p {
    font-style: italic;
    font-size: .9em;
    display: inline-block;
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #aaa;
}

a:hover {
    color: #fff;
}

.red {
    color: tomato;
}